html, body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.mainBox{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 80px;
}
.leftBox{
    flex-basis: 50%;
    padding: 20px;
    font-size: 16px;
}
.rightBox{
    display: flex;
    justify-content: center;
}
.leftBox, .rightBox{
    width: 50%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}
.leftBox:hover, .rightBox:hover{
    overflow-y: auto;
}
.downBox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.upBox{
    width: 100%;
}
.rightBoxContent{
    width: 100%;
    display: block;
}
#resultContent{
    width: 100%;
}
#resultContentContent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
#imageSolutionContainer, #coincidence{
    width: 100%;
}
#imageSolution{
    border: 2px solid grey;
    border-radius: 5px;
}
#errorText{
    color: red;
    text-align: left;
}
#preOutput{
    display: flex;
    border: 2px solid grey;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}
.imageBox{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
